<li class="nav-item">
    <a class="nav-link home " aria-current="page" href="{% url 'mass' %}">Mass Hiring</a>
  </li>
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle home "
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">Our Services</a>
    <ul class="dropdown-menu  ">
      <li>
        <a class="dropdown-item " href="{% url 'staffing' %}">Contract Staffing</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'recruiment' %}">Recruitment</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle home"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">Industries</a>
    <ul class="dropdown-menu ">
      <li>
        <a class="dropdown-item" href="industries-gas.html">Oil and Gas Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment-procedure.html">E-Commerce Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Manufacturing Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="demand-letter.html">Hospitality Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment-procedure.html">Healthcare Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Financial & Banking Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">HR and Business Support</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Real Estate & Construction</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Supply chain and Logistics</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Energy & Chemicals industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Retail & Trading Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">FMCG Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Shipping Industry</a>
      </li>
      <li>
        <a class="dropdown-item" href="recruitment- document.html">Information Technology</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link home " aria-current="page" href="{% url 'all_job' %}">View All Jobs</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle home"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">Insights</a>
    <ul class="dropdown-menu ">
      <li>
        <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link home" href="{% url 'contact' %}">Contacs Us</a>
  </li>